/* background */
.background:before{
    content:"";
    position:fixed;
    left:0;
    right:0;
    z-index:-1;
    display:block;
    background-image: url(../img/car.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    width: 100%;
    height: 100%;
}

.background{
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  z-index: 0;
  margin-left: 20px;
  margin-right: 20px;    
}
/* generic header */
header:not(#index-header){
    background-color:#47494c;
    box-shadow: 0 10px 20px -6px black inset,
    0 10px 10px -6px black;
}
header img#logo-header{
    height: 75px;
    width: 75px;
    display:inline-block;
    vertical-align:middle;
}

header p#header-text{
    margin:0px;
    padding:20px;
}

/* header home*/
input.login{
    margin:25px 50px 0px 10px;
    font-size: 20px;
    float: right;
}
input[type="text"].login, input[type="password"].login{
	padding:10px;
        border:none;
        outline-color: black;
        font-family:'Economica';
        border: none;
        height:10px;
        width:150px;      
}
input.login:hover, #contact:hover{
    box-shadow: 0 0 10px 5px white;
}

input[type="submit"].login, #contact{
    border: solid 2px white;
    background: transparent;
    font-family: 'Orbitron';
    font-size: 17px;
    color: white;
    padding:10px 10px 10px 10px;
    height:30px;
    line-height:7px;
}
#logo, #logo-text{
    display:inline-block;
    
}

img#logo{
    height:50px;
    width: 50px;
    vertical-align: middle;
    display:inline-block;
    margin:auto;
}

#logo-text{
    font-family: 'Gugi';
    font-size:20px;
    padding:0px;
}

/* center page */
div.center-page{
    margin:100px 100px 60px 100px;
}
p{
   font-family: 'Orbitron';
   font-size:50px;
   color : white;
   text-align: center;
   clear:left;
   clear:right;
   webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome
        and Opera */;
   
}
/* logos */
.social-logos{
    text-align:center;
}

.logo-link{
    display:inline;
    margin: 20px;
}

.logo-link img{
    background-color:black;
    filter: invert(100%);
    height: 75px;
    width: 75px;
    border-radius:50px;
}

#twitter img:hover{
    filter: none;
    background-color:#5194ff;
}

#facebook img:hover{
    filter: none;
    background-color:#0a46a8;
}
#google img:hover{
    filter: none;
    background-color:#f75454;
}

/* footer */
footer{
    margin-top:0px;
    text-align:center;
}

#copyright{
    font-size:10px;
    padding:10px;
}

footer a{
    color: white;
    font-family: 'Orbitron'; 
}

footer a#contact{
    margin-bottom: 10px;
    webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome
        and Opera */;
    text-decoration: none;
}

/* contact */
#contact-body{
    
    background: -moz-linear-gradient(#A9A9A9, #000000 80%) fixed;
    font-family:'Gugi';
    margin:0px;
   
}

.contact{
    display: block;
    margin:20px;
    font-family: 'Orbitron';
    font-size: 17px;
    padding:5px;
   
}

#contact-div{
    display:inline-block;
}

input.contact{
    border: none;
    outline:none;
    width:200px;
    height:40px;
    box-shadow: 10px 10px 20px -6px black;
}

textarea.contact{
    border:none;
    height:100px;
    width:500px;
    box-shadow: 10px 10px 20px -6px black;
}

input[type="submit"].contact:hover{
    box-shadow: 10px 10px 20px -6px black;
    filter: invert(100%);
}
.contact:not(#contact-div):focus{
    border:2px solid black;
}

h1.contact{
    text-decoration: none;
    color:white;
    font-size:50px;   
}

/* concessionaire home */
#body-conc{
    background: -moz-linear-gradient(#A9A9A9, #000000 80%) fixed;
    font-family:'Gugi';
    margin:0px;
}

#body-prov{
    background: -moz-linear-gradient(#A9A9A9, #000000 80%) fixed;
    font-family:'Gugi';
    margin:0px;
}
/* side menu */
#conc-nav{
    background-color: #A9A9A9;
    color:white;
    width: 200px;
    height: 300px; 
    text-align: center;
    box-shadow: 0 10px 20px -6px black inset,
        0px 2px 10px 0px black;
    float:left;
    margin-bottom:100px;
    
}

#conc-nav button{
    padding:20px;
    width:200px;
    display: block;
    overflow:hidden;
    margin:0px;
    background: transparent;
    border:none;
    font-family:'Gugi';
    color:white;
}
#conc-nav button:disabled{
    background-color:black;
}
#conc-nav button:hover:enabled{
   background-color:#f45850;
   box-shadow: 0 10px 15px -6px black inset,
        0 -10px 15px -6px black inset;  
}

#ver-todo{
    padding:20px;
    width:150px;
    display: block;
    overflow:hidden;
    margin:0px;
    background-color:#f45850;
    border:none;
    font-family:'Gugi';
    color:white;
    margin-top:0px;
    display:inline-block;
}

#ver-todo:hover{
   border: 2px solid white;
 
   
}

div#search-cart{
    text-align:center;
}

#search{
    display: inline-block;
    width:400px;
    height:20px;
    font-family: 'Gugi';
    margin:30px;
}

#filter{
    display:inline-block;
    margin: 30px 50px 0px 0px;
    visibility:hidden;
}
#fecha-filter{
    display:inline-block;
    margin: 30px 50px 0px 0px;
    visibility:hidden;
}

#cart{
    height: 60px;
    width: 60px;
    float: right;
    margin:10px 25px 10px 25px;
    visibility:hidden;
    background-image: url('../img/cart.png');
    background-size: 100%;
    background-color:transparent;
    border: none;
}
#cart span{
    background-color: red;
    border-radius:10px;
    padding:2px 7px 2px 7px;
    margin-left:10px;
    font-family: 'Gugi';
    font-size: 15px;
    color:white;
}

#cart:hover{
    -webkit-filter: drop-shadow(2px 2px 0 black)
                  drop-shadow(-2px -2px 0 black);
    filter: drop-shadow(2px 2px 0 black) 
          drop-shadow(-2px -2px 0 black);
}
#main-div{
    display:block;
    margin:50px 0px 100px 200px;
}

.pedido{
    background-color:#A9A9A9;
    box-shadow: 10px 10px 10px -6px black;
    margin:20px;
    font-family: 'Gugi';
}
.pedido tr, td, th{
    padding:10px;
    text-align: center;
}

.pedido input[type="number"]{
    width:50px;
}

.pedido-delete{
    background-color:red;
    border:1px solid white;
}
.delete-all-pedido{
    background-color:red;
    border:1px solid white;
}
.save-changes{
    background-color:greenyellow;
    border:1px solid black;
    height: 20px;
    width:100px;
}
.producto{
    padding-top:10px;
    display:inline-block;
    margin:30px;
    margin-top:0px;
    height:250px;
    width:200px;
    background-color:orange;
    text-align: center;
    box-shadow: 10px 10px 10px -6px black;
    overflow:hidden;
    position:relative;
}

.producto span{
    display:block;
}

.product-name{
    font-size:20px;
    font-weight:bold;
    margin-bottom: 20px;
}
#dropdown-table{
    margin-bottom: 50px;
}
#dropdown-table button{
    width:25px;
    height:25px;
    display:inline-block;
    border:none;
    background-color:red;
    color:white;
    margin:10px;
}
#dropdown-table button:hover{
    border: 1px solid white;
}

.id-td{
    display:hidden;
}

.producto input[type="number"]{
    width:40px;
    margin-left:20px;
}

.producto img{
    height: 180px;
    width: 200px;
}
.producto button, #pedir{
    padding:20px;
    width:200px;
    display: block;
    overflow:hidden;
    margin:60px 0px 0px 0px;
    background: #f45850;
    border:none;
    font-family:'Gugi';
    color:white;
    vertical-align: bottom;
    box-shadow: 0 10px 15px -6px black;
    position: absolute;
    margin-top:50px;
    bottom:0;
}
.producto button:hover, #pedir:hover{
   border: 2px solid white;
}

#dropdown{
    display:none;
    z-index:1;
    position:absolute;
    right:0;
    background-color:#A9A9A9;
    padding: 15px;
    text-align:center;
}
.show{
    display:block;
}

/* footer */
footer:not(#index-footer){
     position:static;
     clear:both;
     margin:auto;
     padding-top: 20px;
     padding-left: 70px;
     padding-right: 70px;
     padding-bottom: 40px;
     background-color:#47494c;
     margin-top: 50px;
     box-shadow: 0 10px 20px -6px black inset,
     0px -5px 10px -6px black;
}

div#list-container{
    display: flex;
    justify-content: space-between;
}

ul.footer-list{
    list-style-type:none;
    display:inline-block;
    padding-left:0px;
}

ul.footer-list li:not(.list-header){
    margin-bottom: 10px;
}
ul.footer-list a:not(.list-header){
     text-decoration:none;
     color: white;
     font-family: 'Gugi';
     font-size: 15px;
}

ul.footer-list a:not(.list-header):hover{
    text-decoration: underline;
}

li.list-header{
    margin-bottom: 20px;
}

footer a.list-header{
    color: #f45850;
    text-decoration:none;
    font-family: 'Gugi'; 
    font-size: 30px;
}



li.footer-images img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
   
}
footer a.footer-images{
    margin-right: 10px;
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: #f45850;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 15px;
}

footer a#facebook:hover{
    background-color:#0a46a8;
}
footer a#twitter:hover{
    background-color:#5194ff;
}
footer a#google:hover{
    background-color:#f75454;
}

div#copyright{
    color:white;
    font-family:'Gugi';
    display: block;
    text-align: center;
}

 footer div#copyright a{
    text-decoration: none;
    color:#f45850;
}
/* provider home */
.desplegable {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 300px;
    border-style: solid;
    border-width: 1px;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-family:'Gugi';
    display: block;
    /*margin-left: 10%;
    margin-bottom: 1%;
    margin-top: 5%;*/ 
    margin-bottom: 1%;
    margin-top: 5%;
}

.desplegable:after{
    content: "\203A";
    float: right;
    font-family:'Gugi';
    font-weight: bold;
    font-size: 20px;
}

.active:after{
    content: "^";
    float: right;
    font-family:'Gugi';
    font-weight: bold;
    font-size: 20px;
}

.active, .desplegable:hover {
    background-color: #ccc; 
}

.panel-lista {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    transition: 1s ease-out;
}

#lists, #file{
    float: left;
    overflow: hidden;
}

#lists{
    width: 700px;
    margin-left: 10%;
    margin-bottom: 5%;
    margin-top: 5%; 
}

#file{
    width: 30%;
    margin-left: 10%;
    margin-bottom: 5%;
    margin-top: 5%; 
}

.input-file{
    font-family:'Gugi';
    border-radius: 0px;
    border-style: solid;
    border-width: 2px;
}

.input-file:hover{
    background-color: #ccc;
}

input[name="archivo"]{
    margin-left: 10px;
    background-color: white;
}

input[name="actualizar"]{
    margin-top: 20px;
}

#not-confirmed{
    margin-left: 30px;
}

.celda-producto{
    width: 300px;
    height: 20px;
    text-align: center;
    background-color: #ADFF2F;
}

.celda-pedido{
    width: 300px;
    height: 20px;
    text-align: center;
    background-color: #ADFF2F;
}

.cabecera-producto{
    text-align: center;
    width: 300px;
    height: 20px;
    background-color: #00FF00;
}

.cabecera-pedido{
    text-align: center;
    width: 300px;
    height: 20px;
    background-color: #006400;
}

#tabla-productos{
    margin-top: 20px;
    margin-bottom: 20px;
}

#tabla-pedidos{
    margin-top: 20px;
    margin-bottom: 20px;
}

.confirm{
    font-family:'Gugi';
    text-align: center;
    border-radius: 0px;
    border-style: solid;
    border-width: 2px;
}

.log-out{
    font-family:'Gugi';
    text-align: center;
    background-color: transparent;
    border-style: none;
    margin: 25px;
    color: black;
    float: right;
    font-size: 30px;
}

.log-out:hover{
    text-decoration: underline;
}

/*--AdminHome--*/

#row:after {
	content:"";
    display: table;
    clear: both;
	width:100%;
}	
#column{
	width:30%;
	margin:2%;
	float: left;
    padding: 5px;
	 text-align:center;

}


.anyadir-user{
	
	
	margin-left:3%;
	margin-top:0px;

	float:left;

}
a.anyadir-user{
    display: inline-block;
	font-family: 'Orbitron';
    font-size: 20px;
	float:left;
	color:#000000;
	text-align:center;
	vertical-align:middle;
}

div.anyadir-user{
	width: 35%;
}
form.anyadir-user{
	background: -moz-linear-gradient(#F2F2F2, #27DACC 80%) fixed;
	margin-bottom: 10%;
	padding:2%;
	border: 3px solid #0AF7EC;
    border-radius: 4px; 
}

h1.anyadir-user{
	color: #000000;
	font-size: 40px;
	font-weight: bold;
	font-family: 'Orbitron';
	text-shadow: 0 2px 0 #ccc, 2px 4px 3px #05B9B1;
}

label.anyadir-user {
    padding: 12px 12px 12px 0;
    display: inline-block;
	font-family: 'Orbitron';
	font-weight: bold;
    font-size: 15px;
	float:left;
	color:#000000;

}
input[type="text"].anyadir-user{
	width: 80%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
input[type="password"].anyadir-user{
	width: 80%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
button.anyadir-user{
	width: 40%;
	margin-top:20px;
	border:none;
  	background: #0819EE;
	 color: #fff;
	 padding: 10px;
	 font-size: 18px;
	 border-radius: 1px;
	 position: relative;
	 box-sizing: border-box;
	 transition: background 1s, width 2s;
}

button.anyadir-user:hover{
	background: #F80552;
	width:85%;
	
}
.delete-user{
	
	
	margin-left:3%;
	margin-top:5%;

	float:left;

}
a.delete-user{

    display: inline-block;
	font-family: 'Orbitron';
    font-size: 20px;
	float:left;
	color:#000000;
	text-align:center;
}

div.delete-user{
	width: 35%;
}
form.delete-user{
	background: -moz-linear-gradient(#F2F2F2, #27DACC 80%) fixed;
	margin-bottom: 5%;
	padding:2%;
	border: 3px solid #0AF7EC;
    border-radius: 4px; 
}

h1.delete-user{
	color: #000000;
	font-size: 40px;
	font-weight: bold;
	font-family: 'Orbitron';
	text-shadow: 0 2px 0 #ccc, 2px 4px 3px #05B9B1;
}

label.delete-user {
    padding: 12px 12px 12px 0;
    display: inline-block;
	font-family: 'Orbitron';
	font-weight: bold;
    font-size: 15px;
	float:left;
	color:#000000;

}
input[type="text"].delete-user{
	width: 80%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
input[type="password"].delete-user{
	width: 80%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
button.delete-user{
	width: 40%;
	margin-top:20px;
	border:none;
  	background: #0819EE;
	 color: #fff;
	 padding: 10px;
	 font-size: 18px;
	 border-radius: 1px;
	 position: relative;
	 box-sizing: border-box;
	 transition: background 1s, width 2s;
}

button.delete-user:hover{
	background: #F80552;
	width:85%;
	
}

.expulsar-user{
	
	
	margin-left:3%;
	margin-top:3%;
	
	float:left;

}
a.expulsar-user{

    display: inline-block;
	font-family: 'Orbitron';
    font-size: 20px;
	float:left;
	color:#000000;
	text-align:center;
}

div.expulsar-user{
	width: 35%;
}
form.expulsar-user{
	background: -moz-linear-gradient(#F2F2F2, #27DACC 80%) fixed;
	margin-bottom: 5%;
	padding:1%;
	border: 3px solid #0AF7EC;
    border-radius: 4px; 
}

h1.expulsar-user{
	color: #000000;
	font-size: 40px;
	font-weight: bold;
	font-family: 'Orbitron';
	text-shadow: 0 2px 0 #ccc, 2px 4px 3px #05B9B1;
}

label.expulsar-user {
    padding: 12px 12px 12px 0;
    display: inline-block;
	font-family: 'Orbitron';
	font-weight: bold;
    font-size: 15px;
	float:left;
	color:#000000;

}
input[type="text"].expulsar-user{
	width: 80%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
input[type="password"].expulsar-user{
	width: 80%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
button.expulsar-user{
	width: 40%;
	margin-top:20px;
	border:none;
  	background: #0819EE;
	 color: #fff;
	 padding: 10px;
	 font-size: 18px;
	 border-radius: 1px;
	 position: relative;
	 box-sizing: border-box;
	 transition: background 1s;

}

button.expulsar-user:hover{
	background: #F80552;
	
}
.bloquear-user{	
	
	margin-left:3%;
	margin-top:3%;

	float:left;

}

button.bloquear-user{
	width: 40%;
	margin-top:20px;
	border:none;
  	background: #0819EE;
	 color: #fff;
	 padding: 10px;
	 font-size: 18px;
	 border-radius: 1px;
	 position: relative;
	 box-sizing: border-box;
 	 transition: background 1s;

}
button.bloquear-user:hover{
	background: #F80552;
	
}
.desbloquear-user{	
	
	margin-left:3%;
	margin-top:3%;

	float:left;

}
button.desbloquear-user{
	width: 40%;
	margin-top:20px;
	border:none;
  	background: #0819EE;
	 color: #fff;
	 padding: 10px;
	 font-size: 18px;
	 border-radius: 1px;
	 position: relative;
	 box-sizing: border-box;
 	 transition: background 1s;

}
button.desbloquear-user:hover{
	background: #F80552;
	
}

#admin-nav{
	margin-top:5%;
    background-color: #A9A9A9;
    color:white;
    width: 200px;
    height: 300px; 
    text-align: center;
    box-shadow: 0 10px 20px -6px black inset,
        0px 2px 10px 0px black;
    float:left;
    margin-bottom:100px;
    
}

#admin-nav button{
    padding:20px;
    width:200px;
    display: block;
    overflow:hidden;
    margin:0px;
    background: transparent;
    border:none;
    font-family:'Gugi';
    color:white;
}
#admin-nav button:disabled{
    background-color:black;
}
#admin-nav button:hover:enabled{
   background-color:#f45850;
   box-shadow: 0 10px 15px -6px black inset,
        0 -10px 15px -6px black inset;  
}

#body-admin{
    background: -moz-linear-gradient(#A9A9A9, #000000 80%) fixed;
    font-family:'Gugi';
    margin:0px;
}


#contenedorTabla{
	
	margin-left:5%;
	 width: 25%;
	 float: left;
	overflow:auto;
	height: 400px;

}
#contenedorUsr{
	
	margin-left:2%;
	 width: 20%;
	 float: left;
	overflow:auto;
	height: 400px;

}


#vistaMensajes{
	
	margin-left:5%;
	margin-right:5%;
	background-color:#ECFEFE;
	 border: solid 2px #0618F9;
	 width: 35%;
	 float:left;
	 overflow:auto;
	 word-wrap: break-word;
	height: 350px;
}
p.vistaMensajes{
	margin:3%;
	font-size:17px;
	color:black;
	text-align:left;
}

#mensaje {
   	
	border: solid 2px #0618F9;
	background-color: #6BCAC4;

}



#mensaje td {
    text-align: left;
    padding: 4px;
	border: solid 2px #000000;

}

tr.mensaje:hover {
	background-color: #5EF7B6;
}

tr.leido_1{
	background-color:#3CF6D1;
}

#mensaje th {
    padding-top: 15px;
    padding-bottom: 15px;
	width:10%;
    text-align: left;
    background-color: #A7D8F1;

    color: black;
}

#userName {
   	
	border: solid 2px #0618F9;
	background-color: #6BCAC4;
}

#bloqueado_1{
	background-color: #DF4D41;
}

#userName {
   	
	border: solid 2px #0618F9;

}

#userName th, #userName td {
    text-align: left;
    padding: 4px;
	

}

#userName th {
    padding-top: 15px;
    padding-bottom: 15px;
	width:10%;
    text-align: left;
    background-color: #A7D8F1;
    color: black;
}

#filterMsj{
    display:inline-block;
    margin-left: 35%;
	margin-right: 30%;
	margin-top:1%;
	margin-bottom:1%;
    visibility:hidden;
	width:20%;
	text-align:center;
	float:left;
}

