/* background */
.background:before{
    content:"";
    position:fixed;
    left:0;
    right:0;
    z-index:-1;
    display:block;
    background-image: url(../img/car.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    width: 100%;
    height: 100%;
}

.background{
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  z-index: 0;
  margin-left: 20px;
  margin-right: 20px;    
}

/* header */
input.login{
    margin:25px 50px 0px 10px;
    font-size: 20px;
    float: right;
}
input[type="text"].login, input[type="password"].login{
	padding:10px;
        border:none;
        outline-color: black;
        font-family:'Economica';
        border: none;
        height:10px;
        width:150px;      
}
input.login:hover, #contact:hover{
    box-shadow: 0 0 10px 5px white;
}

input[type="submit"].login, #contact{
    border: solid 2px white;
    background: transparent;
    font-family: 'Orbitron';
    font-size: 17px;
    color: white;
    padding:10px 10px 10px 10px;
    height:30px;
    line-height:7px;
}
#logo, #logo-text{
    display:inline-block;
    
}

img#logo{
    height:50px;
    width: 50px;
    vertical-align: middle;
    display:inline-block;
    margin:auto;
}

#logo-text{
    font-family: Gugi;
    font-size:20px;
    padding:0px;
}

/* center page */
div.center-page{
    margin:100px 100px 60px 100px;
}
p{
   font-family: 'Orbitron';
   font-size:50px;
   color : white;
   text-align: center;
   clear:left;
   clear:right;
   webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome
        and Opera */;
   
}
/* logos */
.social-logos{
    text-align:center;
}

.logo-link{
    display:inline;
    margin: 20px;
}

.logo-link img{
    background-color:black;
    filter: invert(100%);
    height: 75px;
    width: 75px;
    border-radius:50px;
}

#twitter img:hover{
    filter: none;
    background-color:#5194ff;
}

#facebook img:hover{
    filter: none;
    background-color:#0a46a8;
}
#google img:hover{
    filter: none;
    background-color:#f75454;
}

/* footer */
footer{
    margin-top:0px;
    text-align:center;
}

#copyright{
    font-size:10px;
    padding:10px;
}

footer a{
    color: white;
    font-family: 'Orbitron'; 
}

footer a#contact{
    margin-bottom: 10px;
    webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome
        and Opera */;
    text-decoration: none;
}

/* contact */
#contact-body{
    
    margin:auto;
    text-align: center;
    background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
   
}

.contact{
    display: block;
    margin:20px;
    font-family: 'Orbitron';
    font-size: 17px;
    padding:5px;
   
}

#contact-div{
    display:inline-block;
}

input.contact{
    border: none;
    outline:none;
    width:200px;
    height:40px;
    box-shadow: 10px 10px 20px -6px black;
}

textarea.contact{
    border:none;
    height:100px;
    width:500px;
    box-shadow: 10px 10px 20px -6px black;
}

input[type="submit"].contact:hover{
    box-shadow: 10px 10px 20px -6px black;
    filter: invert(100%);
}
.contact:not(#contact-div):focus{
    border:2px solid black;
}

h1.contact{
    text-decoration: none;
    color:white;
    font-size:50px;
    
}
